__pycache__
build
debug
dist
*.egg
.vscode
output
*.err
*.out
.cursor
assets
curobo
panda_drake
tests/*.log
tests/*.txt
polygons.png
_isaac_sim_410
InterDataEngine-docs
debug.sh
debug.yaml
depre
conda_env.zip
.*
tmp
generator
download